.select-element {
  position: relative;

  select {
    min-width: 100px;
    background: #F3F5FB;
    border: none;
    border-radius: 0;
    height: 36px;
    appearance: none;
    padding: 0 36px 0 16px;
  }

  .fa {
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 5;
  }
}

.radio-element {
  input:checked,
  input:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input:checked + label,
  input:not(:checked) + label
  {
    position: relative;
    padding-left: 44px;
    cursor: pointer;
    line-height: 24px;
    display: inline-block;
  }

  input:checked + label:before,
  input:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid $white;
  }

  input:checked + label:after,
  input:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: $white;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  input:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  input:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.element-input, .element-textarea {
  position: relative;

  input, textarea {
    color: $black;
    width: 100%;
    height: 50px;
    line-height: 48px;
    border: 1px solid transparent;
    padding: 0 16px;

    &::placeholder {
      color: #C2C5CE;
    }
  }

  &[data-error] {
    input, textarea {
      border-color: #FF8E8E;
    }

    &:before {
      content: '';
      position: absolute;
      transform: rotate(45deg);
      background: #FF8E8E;
      width: 8px;
      height: 8px;
      bottom: -15px;
      left: 20px;
    }

    &:after {
      font-family: $openSans;
      font-size: 12px;
      position: absolute;
      bottom: -50px;
      left: 0;
      content: attr(data-error);
      width: 240px;
      height: 40px;
      padding: 12px 20px;
      background: #FF8E8E;
      color: $white;
      border-radius: 2px;

    }
  }
}

.element-textarea {
  textarea {
    resize: none;
    height: 220px;
  }
}