// шрифты
$openSans: 'Open Sans', tahoma, arial, sans-serif;
$proximaNova: 'Proxima Nova', tahoma, arial, sans-serif;
$proximaNovaCondensed: 'Proxima Nova Condensed', tahoma, arial, sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

// цвета
$white: #ffffff;
$black: #000000;
$blue: #0067D6;
$blueDarker: #0055B1;
$greyLighter: #E7EAF2;
$desktopWidth: 1380px;
