body {
  padding: 26px 10px 100px;
  font-family: $proximaNova;
  font-size: 16px;
  line-height: 1.5;
  color: $black;

  @media only screen and (max-width: $tableMaxWidth) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  outline: none;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.container {
  max-width: $desktopWidth;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.container-large {
  position: relative;
  margin: 0 auto;
  max-width: 1530px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;

    a {
      display: flex;
      align-items: center;
      margin-right: 30px;
      cursor: pointer;
      line-height: 1.1;
    }

    img {
      margin-right: 10px;
    }

    @media only screen and (max-width: $tableMaxWidth) {
      a {
        max-width: 150px;
      }
    }
  }

  &__region {
    margin-left: auto;

    select {
      min-width: 100px;
      background: #F3F5FB;
      border: none;
      border-radius: 0;
      height: 36px;
    }
  }

  &__search {
    margin: 0 46px;
    position: relative;
    width: 320px;

    img {
      cursor: pointer;
      position: absolute;
      right: 8px;
      top: 11px
    }

    input {
      padding: 0 10px;
      height: 36px;
      width: 100%;
      border: 1px solid $greyLighter;

      &::placeholder {
        color: #C2C5CE;
      }
    }

    @media only screen and (max-width: $tableMaxWidth) {
      width: 20px;
      margin: 0 30px 0 50px;

      img {
        position: static;
      }

      input {
        display: none;
      }
    }
  }

  .basket {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    @media only screen and (max-width: $tableMaxWidth) {
      span {
        display: none;
      }
    }
  }
}

.top-title {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 14px 0;

  &__label {
    line-height: 1.2;
    max-width: 170px;
    min-width: 70px;
    margin-left: 20px;
    color: #c2c5ce;
  }

  &__separator {
    margin: 0 38px;
    width: 1px;
    height: 44px;
    background: $greyLighter;
  }

  &__distributor {
    line-height: 1.2;

    img {
      width: 78px;
      margin-bottom: -4px;
    }
  }

  &__ask {
    margin-left: auto;

    button {
      height: 50px;
      padding: 0 30px;
      border: none;
      outline: none;
      color: $white;
      background: $blue;
      font-size: 13px;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  @media only screen and (max-width: $tableMaxWidth) {
    .left-logo img {
      width: 141px;
    }

    &__separator {
      margin: 0 20px;
    }

    &__distributor {
      img {
        width: 62px;
        margin-bottom: -2px;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 21px;
  font-weight: $fontBold;

  &__item {
    color: $black;

    &:hover {
      text-decoration: none;
      color: $blue;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media only screen and (max-width: $tableMaxWidth) {
    font-size: 17px;
  }
}

.footer {
  &__separator {
    margin: 56px 0;
    height: 1px;
    background: $greyLighter;
  }

  &__terms {
    display: flex;
    justify-content: space-between;
  }

  .user-agreement {
    max-width: 340px;
  }

  &__sponsors {
    display: flex;
    justify-content: space-between;

    img {
      height: 40px;
    }
  }
}

// bootstrap
.carousel-indicators {
  display: flex;
  justify-content: flex-start;

  li {
    background: transparent;
    margin: 0 8px;
    height: 14px;
    width: 14px;
    border: 1px solid #B9B9B9;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      background: $blue;
      border-color: transparent;
    }
  }

  &--white {
    li {
      border-color: $white;

      &.active {
        background: $white;
      }
    }
  }
}