body {
  padding: 26px 10px;
  font-family: $proximaNova;
  font-size: 16px;
}

.container {
  max-width: $desktopWidth;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;

    a {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    img {
      margin-right: 10px;
    }
  }

  &__region select {
    min-width: 100px;
    background: #F3F5FB;
    border: none;
    border-radius: 0;
    height: 36px;
  }

  &__search {
    position: relative;
    width: 320px;

    img {
      position: absolute;
      right: 8px;
      top: 11px
    }

    input {
      padding: 0 10px;
      height: 36px;
      width: 100%;
      border: 1px solid #e7eaf2;
    }
  }

  .basket {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
}

.top-title {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 14px 0;

  &__label {
    margin-left: 20px;
    color: #c2c5ce;
  }

  &__separator {
    margin: 0 38px;
    width: 1px;
    height: 44px;
    background: #e7eaf2;
  }

  &__distributor {
    img {
      margin-bottom: -4px;
    }
  }

  &__ask {
    margin-left: auto;

    button {
      height: 50px;
      padding: 0 25px;
      border: none;
      outline: none;
      color: white;
      background: $blue;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 21px;
  font-weight: $fontBold;

  &__item {
    &:hover {
      color: $blue;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}