<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>favorit</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="top-nav">
                <div class="top-nav__links">
                    <a>
                        <img src="/assets/images/icons/car.svg" width="24">
                        Для легкового транспорта
                    </a>
                    <a>
                        <img src="/assets/images/icons/delivery-truck.svg" width="24">
                        Для грузового транспорта
                    </a>
                    <a>
                        <img src="/assets/images/icons/production-plant.svg" width="24">
                        Для индустрии
                    </a>
                </div>

                <div class="top-nav__region">
                    <select>
                        <option>Регион</option>
                    </select>
                </div>

                <div class="top-nav__search">
                    <img src="/assets/images/icons/magnifier.svg" width="18">
                    <input title="Поиск" placeholder="Поиск по товарам">
                </div>

                <div class="basket">
                    <img src="/assets/images/icons/cart.svg" width="22">
                    Заказы
                </div>
            </div>

            <div class="top-title">
                <div class="top-title__logo">
                    <img src="/assets/images/logo.svg" width="230">
                </div>

                <div class="top-title__label">
                    Для всех
                </div>

                <div class="top-title__separator"></div>

                <div class="top-title__distributor">
                    Официальный дистрибьютор компании
                    <img src="/assets/images/exxon-mobil.svg" width="78">
                    с 2004 года.
                </div>

                <div class="top-title__ask">
                    <button>Задать вопрос</button>
                </div>
            </div>

            <div class="menu">
                <a class="menu__item">Главная</a>
                <a class="menu__item">Каталог</a>
                <a class="menu__item">Сотрудничество</a>
                <a class="menu__item">Подбор масла</a>
                <a class="menu__item">Бренды</a>
                <a class="menu__item">Mobil 1 Центр</a>
                <a class="menu__item">О нас</a>
                <a class="menu__item">Контакты</a>
            </div>
        </header>

        <main>
            <div class="top-slider carousel slide" data-ride="carousel">
                <div class="top-slider__item item">
                    <img src="/assets/images/bg_header.png">

                    <div class="top-slider__content">
                        <p class="top-slider__title">Компания «Фаворит»</p>
                        <p class="top-slider__description">Авторизованный дистрибьютор корпорации ExxonMobil в Пермском крае и Удмуртии</p>
                    </div>
                </div>
            </div>

            <div class="partnership">
                <div class="partner-adv">
                    <p class="partner-adv__title">Партнерские преимущества</p>

                    <div class="partner-adv__items">
                        <div class="partner-adv__item">
                            <img src="/assets/images/icons/delivery-truck-with-circular-clock.svg" width="64" height="64">

                            <div>
                                <p class="partner-adv__type">Бесперебойная поставка</p>
                                <p class="partner-adv__text">Более 1300 м² складских помещений в Перми и Ижевске, собственные транспортные единицы грузовой техники, 2-х месячный запас продукции на складе позволяют нам осуществлять бесперебойную поставку продукции нашим клиентам.</p>
                            </div>
                        </div>

                        <div class="partner-adv__item">
                            <img src="/assets/images/icons/guarantee.svg" width="64" height="64">

                            <div>
                                <p class="partner-adv__type">100% гарантия подлинности</p>
                                <p class="partner-adv__text">Мы являемся официальным дистрибьютором компании ExxonMobil - ведущим мировым производителем смазочных материалов.</p>
                            </div>
                        </div>

                        <div class="partner-adv__item">
                            <img src="/assets/images/icons/agreement.svg" width="64" height="64">

                            <div>
                                <p class="partner-adv__type">Поддержка вашего бизнеса</p>
                                <p class="partner-adv__text">Техническая, информационная, маркетинговая поддержка на протяжении всего сотрудничества.</p>
                            </div>
                        </div>

                        <div class="partner-adv__item">
                            <img src="/assets/images/icons/team.svg" width="64" height="64">

                            <div>
                                <p class="partner-adv__type">Команда профессионалов</p>
                                <p class="partner-adv__text">Грамотные специалисты компании ведут индивидуальную работу с каждым клиентом и обеспечивают высокую скорость комплектации заказа по Вашей потребности./p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="client-form-wrapper">
                    <div class="client-form">
                        <div class="client-form__content">
                            <p class="client-form__title">Хотите стать нашим клиентом?</p>

                            <p class="client-form__description">
                                Оставьте заявку и наш специалист в течение 24 часов свяжется с Вами, чтобы обсудить дальнейшие детали сотрудничества
                            </p>

                            <p class="client-form__direction">Выберите интересующее вас направление:</p>

                            <label><input type="radio" name="type">Легковой транспорт</label><br>
                            <label><input type="radio" name="type">Грузовой транспорт</label><br>
                            <label><input type="radio" name="type">Предприятия</label><br>
                        </div>

                        <button>ДАЛЕЕ</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>